{
	"singleQuote": true,
	"printWidth": 200,
	"semi": false,
	"useTabs": true,
	"tabWidth": 4,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "ignore",
	"trailingComma": "all"
}
